<section class="flex-center">
	<div class="well">
		<h2>Login</h2>

		<form name="login">
			University e-mail:<br/>
			<input type="text" name="email"/>
			Password:<br/>
			<input type="password" name="password"/>
			<input type="submit" value="Log in"/>
		</form>
	</div>
</section>